.booklist{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);



}