.card{
    margin: 10px;
    padding: 10px;
    width:400px;
    border-radius: 20px;
    background-color: aquamarine;
    height: 500px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    text-align: center;
}